
@{
    ViewData["Title"] = "Default";
}

<ul class="list-group">
    <li class="list-group-item">Taha İpek - 12/07/2018 15:45</li>
    <li class="list-group-item">Can Perk - 12/07/2018 16:12</li>
    <li class="list-group-item">Gencebay Demir - 13/07/2018 11:02</li>
    <li class="list-group-item">Yavuz Kayar - 13/07/2018 13:17</li>
</ul>

